<h4>Lock-Down Dentures™</h4>
<div class="right">	
	<%= image_tag "after.png" %>
	<br/><h5>AFTER</h5>
</div>	
<div class="right">
	<%= image_tag "before.png" %>
	<br/><h5>BEFORE</h5>
</div>	
<p>
	<strong>Never worry about your dentures</strong> again!  This revolutionary technique applies the advances in dental implants to dentures, creating dentures that Lock-Down.
</p>
<p>
Dr Knowles is an expert in dental implants and literally owns the Trade Mark for <strong>Lock-Down Dentures™</strong>.  To learn more about the benefits of dentures that stay in place, contact us today.
</p>	