<h4>Lock-Down Dentures™</h4>
<div class="right">	
	<%= image_tag "after.png" %>
	<br/><h5>AFTER</h5>
</div>	
<div class="right">
	<%= image_tag "before.png" %>
	<br/><h5>BEFORE</h5>
</div>	
<p>
Few treatments have a more dramatic affect on an individual's quality of life than securing a loose denture with dental implants.  If you have a loose denture, dental implants can significantly improve your ability to chew and speak.  A Lock-Down denture can give you the confidence that you need to speak and eat with friends and family.
</p>
<p>
Lock-Down dentures are one of the most exciting procedures for Dr. Knowles and his staff.  They understand the improvements that are possible with this predictable treatment.  During your consultation, Dr. Knowles will discuss the quantity and type of implants that are appropriate for you.
</p>	