<h4>Lock-Down Dentures</h4>
<img src="http://placehold.it/150x200&text=After" class="right">
<img src="http://placehold.it/150x200&text=Before" class="right">
<p>People often think that only children need <strong>orthodontics</strong>, but adults can also benefit from straighter smiles. Crooked teeth are actually harder to clean, so they can cause increased risk for tooth decay and gum disease. <strong>Orthodontics</strong> has made great advancements in recent years, so not all patients have to wear traditional, metal <strong>braces</strong>.</p>
<p>
	<a href="http://www.tulsanewsmile.com" target="_blank">Invisalign clear braces</a> reposition teeth with clear, removable aligners. This therapy is best for adult or mature teenaged patients who need <strong>orthodontics</strong> for cosmetic reasons. <a href="http://www.invisalign.com" target="_blank">Invisalign</a> aligners gradually shift teeth into the preferred position to create a uniform, attractive smile. If you would like to learn whether<strong> Invisalign</strong> would work for you, meet with 
<%= link_to("Dr Knowles", :controller => "home", :action => "doctor" )%> for an exam and consultation.</p>
