<h4>General Care</h4>
<div class="right">	
	<%= image_tag "cathy_.png" %>
	<br/><h5>AFTER</h5>
</div>	
<div class="right">
	<%= image_tag "cathy_1.png" %>
	<br/><h5>BEFORE</h5>
</div>
<p>Most dental problems can be prevented with regular checkups and cleanings.  In addition to brushing and flossing every day, you should get your teeth professionally cleaned twice a year and receive an exam once a year.  These regular visits keep your smile looking great and prevent the need for expensive dental treatments.  Best of all, most dental insurance provide coverage for these visits at no cost to you.  Please contact New Smile Tulsa today to schedule and appointment.  We will even verify your dental coverage, so you know up front what your insurance provides.</p>