<h4>Implants</h4>
<div class="right">	
	<%= image_tag "rex_2.png" %>
	<br/><h5>AFTER</h5>
</div>	
<div class="right">
	<%= image_tag "rex_1.png" %>
	<br/><h5>BEFORE</h5>
</div>	
<p>
	Dental implants are an exciting option to replace missing teeth.  Missing teeth affect an individual's appearance and their ability to chew and speak.  Depending on your needs, dental implants can replace single or multiple teeth. Replacement teeth can be either fixed or removable.  Dental implants are a convenient and durable option that can improve a patient's quality of life.
</p>
<p>
	Dr. Knowles completed extensive implant training with Dr. Arun Garg and  implants are an integral part of his practice.  Dr. Knowles 		and his staff can discuss treatment options with you and determine which treatment is best suited for your needs.
</p>