<h4>Implants</h4>
<div class="right">	
	<%= image_tag "rex_2.png" %>
	<br/><h5>AFTER</h5>
</div>	
<div class="right">
	<%= image_tag "rex_1.png" %>
	<br/><h5>BEFORE</h5>
</div>	
<p>
Implants have changed dentistry by providing options that were not available for patients only 15 years ago. Dr Knowles is an expert in dental implants.  Contact New Smile today for a free exam and to learn about the benefits dental implants provide.
</p>