<h4>Whitening</h4>
<!-- <img src="http://placehold.it/150x200&text=After" class="right">
<img src="http://placehold.it/150x200&text=Before" class="right"> -->
<p>
Teeth whitening can make your smile more youthful and vibrant.  Custom whitening trays are a convenient and affordable option.  Custom trays are more effective than many over the counter options, and are more affordable than other professional treatments.  A professional cleaning is recommended before teeth whitening. 
</p>
<p>
Dr. Knowles and his staff can fabricate custom trays for your teeth.  They will explain how to wear the trays and apply the whitening gel. They will explain how long to wear your custom trays and how to maintain your whiter smile. They will also teach you how to avoid and control the sensitivity that many patients experience during tooth whitening.
</p>