<h4>Whitening</h4>
<img src="http://placehold.it/150x200&text=After" class="right">
<img src="http://placehold.it/150x200&text=Before" class="right">
<p>Bring back that youthful smile with one easy, painless treatment.  No matter how careful we are, over time our teeth become stained making us look older and less vibrant.  Teeth whitening removes these stains and brings back the sparkle to your smile.  Contact New Smile Tulsa today to schedule a free exam and learn more about the benefits of teeth whitening.</p>