<h4> Meet the Doctor</h4>
<h3>Trevor Knowles, DMD</h3>
<%= image_tag("dr_knowles.png", class: "right")%>
<p>Dr. Trevor Knowles is a graduate of Burley High School in 1994, Brigham Young University 2000, and from Temple University School of Dentistry in 2005.  He is a member of the American Dental Association, Oklahoma Dental Association and Tulsa County Dental Society.</p>
<p>
 	He published a technique in the <cite>Journal of Oral Impantology - June 2005</cite>, <%= link_to("An Interim Denture Technique and Case Reports", "http://www.joionline.org/doi/full/10.1563/1548-1336%282005%2931%5B129%3AAIDTAC%5D2.0.CO%3B2")%>
</p>
