<style>
	h4 {
		padding-left: 20px;
		font-weight: bold;
		font-size: 3em;
	}
	h2 {
		padding-left: 20px;
		font-size: 1.5em;
	}

	p {
		padding-left: 30px;
	}
</style>
<h4> Welcome to Our Practice</h4>
<div class="right">
	<img src="http://placehold.it/300x150&text=Building"><br />
	<img src="http://placehold.it/300x150&text=Map">
</div>
<p>Your smile says a lot about you.  Dr. Trevor Knowles can give you the smile you've always wanted.</p>

<p>We are committed to helping our patients achieve their dental goals. We do this daily by delivering state of the art care in an environment with nothing less than family like hospitality. Our commitment to continuing education allows us to deliver this care without the stresses and discomforts that have been associated with dentistry in years past. You can feel confident knowing that our patients continue to tell us that their experience here was the best dental experience they have ever had. You will feel the same way! </p>

<h2><strong>New Patients Welcome!</strong><h2>