<h4> Welcome to Our Practice</h4>
<h3>New Smile Family Dental Center</h3>
	<div class="right">
		<%= image_tag "building.png", style:"border:1px solid black;"  %><br />
		<img src="http://placehold.it/321x213&text=Map" style="border:1px solid black;">
	</div>
	<p>Your smile says a lot about you.  Dr. Trevor Knowles can give you the smile you've always wanted.</p>

	<p>We are committed to helping our patients achieve their dental goals. We do this daily by delivering state of the art care with family hospitality. Our commitment to continuing education allows us to deliver this care without the stresses and discomforts that have been associated with dentistry. You can feel confident knowing that our patients continue to tell us that their experience here was the best dental experience they have ever had. You will feel the same way! </p>

	<h3>New Patients Welcome!<h3>	