<h4> Request Sent</h4>
<p>Your request has been sent.  You should hear from New Smile within two business days.</p>
<p>If you would like information sooner, please call us at: <strong>918-742-4500</strong>.</p>

<p>Thank you for your inquiry,</p>
<br />
<p>New Smile</p> 