<div id="banner" class="grid_10 alpha omega" >
	<div class="grid_6 alpha">
		<p>Lock-Down Dentures<small>™</small>, Dental Implants, Whitening, Invisalign and General Care</p>
	</div>
	<div class="right" >
		<%= image_tag "sample.png", :style => "border:1px solid gray;" %>
	</div>
</div>
