<style>
	#banner {
		padding-top: 5px;
		background: #F2EDD7;

	}
	
	#banner p {
		color: #111111;
		padding: 30px;
		text-align: center;
		font-size: 2.5em;
		font-family: "fantasy" ;
		font-style: oblique;
	}	

</style>

<div id="banner" class="grid_10 alpha omega" >
	<div  class="grid_6 alpha">
		<p>Dental Implants, Dentures, Whitening, Invisalign, General Care</p>
	</div>
	<div class="grid_4  omega" >
		<%= image_tag "sample.png" %>
		<!-- <img src="http://placehold.it/340x150&text=Stock+Photo"> -->
	</div>
</div>
