<div id="banner" class="grid_10 alpha omega" >
	<div class="grid_6 alpha">
		<ul id="banner_treatments">
			<li>Lock-Down Dentures<small>™</small></li>
			<li style="display: none;">Dental Implants</li>
			<li style="display: none;">Whitening</li>
			<li style="display: none;">Invisalign</li>
			<li style="display: none;">General Care</li>
		</ul>	
	</div>
	<div class="right" >
		<%= image_tag "sample.png", :style => "border:1px solid gray;" %>
	</div>
</div>
