<style>
	#footer p {
		padding-top: 5px;
		text-align: center;
		color: #111111;
		font-size: 0.8em;
	}

</style>

<div id="footer" class="prefix_1 grid_10 suffix_1 alpha omega" >
<p><%= @footer %></p>
</div>