<style>
	#header p {
		color: #EEE;
		padding-top: 20px;
		text-align: center;
	}
	#address {
		color: #EEE;
		margin-top: -15px;
		margin-bottom: -20px;
		text-align: right;
		font-size: 1.3em;
	}
</style>

<div id="header" class="prefix_1 grid_10 suffix_1 alpha omega" >
<p>New Smile Tulsa Dentist, Dr. Trevor Knowles is a general, cosmetic, and family dentist who welcomes new patients from Tulsa OK and neighboring areas.</p>
</div>
<div id="address" class="prefix_7 grid_5 alpha omega" >
	<p>3150 East 41st Street, Suite 108 Tulsa, OK 74105</p>
</div>	