<div id="header" class="prefix_1 grid_10 suffix_1 alpha omega" >
	<p>
		New Smile Tulsa Dentist, Dr. Trevor Knowles is a general, cosmetic, and family dentist who welcomes new patients from Tulsa OK and neighboring areas.
	</p>
</div>
<div id="address" class="prefix_7 grid_5 alpha omega" >
	<p>3150 East 41st Street, Suite 108 Tulsa, OK 74105</p>
</div>	